.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
  
  .button {
    cursor: pointer;
    background-color: #eba1c8;
    border-radius: 5px;
  
    padding: 5px 10px;
    border: none;
    text-align: center;
  
    margin-left: 15px;
  }
  
  .button:hover {
    background-color: #2073b4;
  }